<!DOCTYPE html>
<html>
<head>
	<title>Forum</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-dark bg-info">
	<a class="navbar-brand text-warning" href="#">Discussion</a>
	<a class="navbar-brand text-warning" href="/signup">Sighn-up here!</a>
	{% if 'username' in session %}
	<a class="navbar-brand text-warning" href="/logout">Logout</a>
	{% else %}
	<a class="navbar-brand text-warning" href="/signin">login</a>
	{% endif %}

	</nav>


<div class="container">
	<div class="row align-items-center mb-3 mt-3">
		<div class="col-sm-8 offset-2 ">
    

			{% for discussion in discussions %}
			<div class="card">
			<div class="card-body">
			
			<a href="/messages/{{discussion.id}}">{{ discussion.title }}</a>
			
			
			</div>
			</div>
			{% endfor %}

		</div>

	</div>
</div>
</div>




</body>
</html>











